Repository samuelho-dev/dev-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, nix-flake-check, nix-syntax-check, biome-check, validate-linting-config, kube-linter, hadolint, tflint, actionlint

nix-fmt:
  name: Format Nix files
  entry: nix fmt
  language: system
  pass_filenames: true
  description: Check Nix file formatting with alejandra

nix-flake-check:
  name: Validate Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate flake.nix syntax and structure

nix-syntax-check:
  name: Home Manager Syntax Check
  entry: nix flake show --json
  language: system
  pass_filenames: false
  description: Validate Home Manager configuration syntax

biome-check:
  name: Biome format and lint
  entry: biome check --write
  language: system
  pass_filenames: true
  description: Format and lint JavaScript/TypeScript/JSON with Biome

validate-linting-config:
  name: Validate linting config changes
  entry: bash scripts/validate-linting-config.sh
  language: system
  pass_filenames: false
  description: Prevent rule weakening and enforce linting policy

kube-linter:
  name: Lint Kubernetes manifests
  entry: kube-linter lint --config iac-linting/.kube-linter.yaml
  language: system
  pass_filenames: true
  description: Validate Kubernetes manifests with kube-linter

hadolint:
  name: Lint Dockerfiles
  entry: hadolint --config iac-linting/.hadolint.yaml
  language: system
  pass_filenames: true
  description: Lint Dockerfiles with Hadolint

tflint:
  name: Lint Terraform files
  entry: tflint --config iac-linting/.tflint.hcl
  language: system
  pass_filenames: false
  description: Lint Terraform configuration with TFLint

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflows with actionlint

feat(devpod): add home-manager config and fix tmux/SSH for DevPods
  devpod-home.nix
  flake.nix
  home.nix
  modules/home-manager/programs/npm.nix
  modules/home-manager/programs/ssh.nix
  modules/home-manager/programs/tmux.nix
  modules/home-manager/services/sops-env.nix
  tmux/scripts/devpod-bootstrap.sh
  tmux/scripts/devpod-connect.sh
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(devpod): add libstdc++ to grit buildInputs for Linux
  pkgs/default.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(grit): add zlib to buildInputs for autoPatchelfHook
  pkgs/default.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

chore: update flake.lock
  flake.lock
Due: none

fix(zsh): install oh-my-zsh via Nix symlink
  modules/home-manager/programs/zsh.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(tmux): use send-keys and exec bash for devpod sessions
  tmux/scripts/devpod-bootstrap.sh
Due: none

fix(zsh): enable shell config files for devpods
  devpod-home.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(tmux): use zsh instead of bash for devpod sessions
  tmux/scripts/devpod-bootstrap.sh
Due: none

fix(tmux): add /home/coder workspace path for audiospacelive
  tmux/scripts/devpod-bootstrap.sh
Due: none

fix(ci): use self-hosted runners for 1Password sync workflow
  .github/actionlint.yaml
  .github/workflows/1password-sync.yml
Due: actionlint

fix(ci): use GitHub-hosted runners (user account limitation)
  .github/workflows/1password-sync.yml
Due: actionlint

feat: switch to self-hosted runners (homelab-runners)
  .github/workflows/1password-sync.yml
Due: actionlint

fix: update runner label to homelab-runners-dev-config
  .github/actionlint.yaml
  .github/workflows/1password-sync.yml
Due: actionlint

revert: use homelab-runners (works for all repos)
  .github/actionlint.yaml
  .github/workflows/1password-sync.yml
Due: actionlint

feat(claude-code): install CLI via bun in home-manager activation
  modules/home-manager/programs/claude-code.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(ssh): use 1Password agent for GitHub instead of file-based key
  modules/home-manager/programs/ssh.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(tmux): prevent crash when switching to devpod sessions from popup
  modules/home-manager/programs/tmux.nix
  tmux/scripts/devpod-bootstrap.sh
  tmux/scripts/devpod-connect.sh
  tmux/tmux.conf
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(tmux): avoid crash by running switch-client outside popup context
  modules/home-manager/programs/tmux.nix
  tmux/tmux.conf
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(tmux): use new-window instead of display-popup for devpod picker
  modules/home-manager/programs/tmux.nix
  tmux/scripts/devpod-connect.sh
  tmux/tmux.conf
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(tmux): use direct repo paths for devpod scripts
  modules/home-manager/programs/tmux.nix
  tmux/tmux.conf
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(tmux): use display-popup pattern from documented examples
  modules/home-manager/programs/tmux.nix
  tmux/scripts/devpod-connect.sh
  tmux/tmux.conf
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(tmux): use fzf-tmux -p instead of tmux display-popup
  modules/home-manager/programs/tmux.nix
  tmux/scripts/devpod-connect.sh
  tmux/tmux.conf
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(tmux): touch .zshrc before zsh to skip newuser prompt
  tmux/scripts/devpod-connect.sh
Due: none

fix(nvim): migrate treesitter to new main branch API
  nvim/lazy-lock.json
  nvim/lua/plugins/treesitter.lua
Due: none

fix(claude-code): switch effect-docs MCP from npx to bunx
  home.nix
  modules/home-manager/programs/claude-code.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

Update devpod and zed configs
  modules/home-manager/programs/tmux.nix
  secrets/default.yaml
  tmux/scripts/devpod-connect.sh
  tmux/tmux.conf
  zed/settings.json
Due: nix-fmt, nix-flake-check, nix-syntax-check, biome-check

feat(opencode): add Home Manager module with Gemini OAuth plugin
  home.nix
  modules/home-manager/default.nix
  modules/home-manager/programs/opencode.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

refactor(claude): remove dead MCP boilerplate from agents and rewrite debug command
  .claude/agents/agent-architect.md
  .claude/agents/ai-architecture-specialist.md
  .claude/agents/ai-engineer.md
  .claude/agents/api-documenter.md
  .claude/agents/backend-architect.md
  .claude/agents/bun-expert-developer.md
  .claude/agents/claude-code-architect.md
  .claude/agents/code-reviewer.md
  .claude/agents/context-manager.md
  .claude/agents/debugger.md
  .claude/agents/deployment-engineer.md
  .claude/agents/devops-engineer.md
  .claude/agents/docs-architect.md
  .claude/agents/dx-optimizer.md
  .claude/agents/effect-architecture-specialist.md
  .claude/agents/error-detective.md
  .claude/agents/javascript-pro.md
  .claude/agents/legacy-modernizer.md
  .claude/agents/mermaid-expert.md
  .claude/agents/nx-monorepo-architect.md
  .claude/agents/performance-engineer.md
  .claude/agents/prompt-engineer.md
  .claude/agents/python-backend-architect.md
  .claude/agents/python-pro.md
  .claude/agents/reference-builder.md
  .claude/agents/search-specialist.md
  .claude/agents/test-engineer-nx-effect.md
  .claude/agents/typescript-pro.md
  .claude/agents/typescript-type-safety-expert.md
  .claude/commands/debug.md
Due: none

Added jup notebook
  pkgs/default.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

feat(devpod): enable tmux for in-container session management
  devpod-home.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

feat(devpod): enable tmux devpodConnect as jump box for iPad/remote access
  devpod-home.nix
  modules/home-manager/programs/tmux.nix
  tmux/scripts/devpod-bootstrap.sh
  tmux/scripts/devpod-connect.sh
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(tmux): use bash array for Tailscale CLI to fix --socket flag
  tmux/scripts/devpod-bootstrap.sh
  tmux/scripts/devpod-connect.sh
Due: none

feat(devpod): use ASCII p10k config for terminal compatibility
  devpod-home.nix
  zsh/.p10k-ascii.zsh
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(git): use HM dedicated userName/userEmail options instead of settings
  modules/home-manager/programs/git.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

refactor(ai): remove outdated AGENTS-CLAUDE.md
  ai/AGENTS-CLAUDE.md
Due: none

fix(claude): rename debug command to debug-research to avoid built-in skill collision
  .claude/commands/debug-research.md
  ai/commands/debug-research.md
Due: none

feat(nix): add python module, slim down dev shell packages
  modules/home-manager/default.nix
  modules/home-manager/programs/python.nix
  pkgs/init-work-workspace/default.nix
  pkgs/work.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(nvim): replace deprecated require_language with language.add
  nvim/lua/plugins/custom/typescript-return-stripper.lua
Due: none

fix(nvim,git): revert treesitter to stable API and migrate git options
  flake.lock
  modules/home-manager/programs/git.nix
  nvim/lua/plugins/treesitter.lua
Due: nix-fmt, nix-flake-check, nix-syntax-check

Path conditions:
  nix-fmt: any of: \.nix$
  nix-flake-check: any of: \.nix$
  nix-syntax-check: any of: \.nix$
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: ^(\.opencode/|gritql-patterns/|nvim/lazy-lock\.json$|\.claude/settings\.json$|state/last_sync\.json$|tsconfig/tsconfig\.strict\.json$|tsconfig/tsconfig\.monorepo\.json$)
  validate-linting-config: any of: ^(biome.*\.json|tsconfig.*\.json|\.pre-commit-config\.yaml)$
  kube-linter: any of: ^(k8s|deploy|charts)/.*\.ya?ml$
  hadolint: any of: (Dockerfile|\.dockerfile)$
  tflint: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
