Repository samuelho-dev/dev-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, nix-flake-check, nix-syntax-check, biome-check, validate-linting-config, kube-linter, hadolint, tflint, actionlint

nix-fmt:
  name: Format Nix files
  entry: nix fmt
  language: system
  pass_filenames: true
  description: Check Nix file formatting with alejandra

nix-flake-check:
  name: Validate Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate flake.nix syntax and structure

nix-syntax-check:
  name: Home Manager Syntax Check
  entry: nix flake show --json
  language: system
  pass_filenames: false
  description: Validate Home Manager configuration syntax

biome-check:
  name: Biome format and lint
  entry: biome check --write
  language: system
  pass_filenames: true
  description: Format and lint JavaScript/TypeScript/JSON with Biome

validate-linting-config:
  name: Validate linting config changes
  entry: bash scripts/validate-linting-config.sh
  language: system
  pass_filenames: false
  description: Prevent rule weakening and enforce linting policy

kube-linter:
  name: Lint Kubernetes manifests
  entry: kube-linter lint --config iac-linting/.kube-linter.yaml
  language: system
  pass_filenames: true
  description: Validate Kubernetes manifests with kube-linter

hadolint:
  name: Lint Dockerfiles
  entry: hadolint --config iac-linting/.hadolint.yaml
  language: system
  pass_filenames: true
  description: Lint Dockerfiles with Hadolint

tflint:
  name: Lint Terraform files
  entry: tflint --config iac-linting/.tflint.hcl
  language: system
  pass_filenames: false
  description: Lint Terraform configuration with TFLint

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflows with actionlint

chore: sync secrets from 1Password [skip ci]
  secrets/default.yaml
Due: none

feat(tmux): add DevPod integration with Mutagen auto-sync
  home.nix
  modules/home-manager/programs/ssh.nix
  modules/home-manager/programs/tmux.nix
  pkgs/default.nix
  tmux/scripts/devpod-connect.sh
  tmux/scripts/devpod-mutagen-hook.sh
  tmux/scripts/devpod-status.sh
  tmux/tmux.conf
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(sops): fix 1Password sync workflow producing null secrets
  .github/workflows/1password-sync.yml
Due: actionlint

fix: re-encrypt secrets with valid string values
  secrets/default.yaml
Due: none

fix(sops): update to working service account token
  .github/workflows/1password-sync.yml
  secrets/default.yaml
Due: actionlint

fix(tmux): add DevPod config to Home Manager extraConfig
  modules/home-manager/programs/tmux.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(tmux): filter DevPod picker to online-only and deduplicate
  tmux/scripts/devpod-connect.sh
Due: none

feat(tmux): auto-create DevPod sessions on tmux server start
  modules/home-manager/programs/tmux.nix
  tmux/scripts/devpod-bootstrap.sh
  tmux/tmux.conf
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(tmux): use underscore in DevPod session names
  tmux/scripts/devpod-bootstrap.sh
  tmux/scripts/devpod-connect.sh
  tmux/scripts/devpod-mutagen-hook.sh
  tmux/scripts/devpod-status.sh
Due: none

Path conditions:
  nix-fmt: any of: \.nix$
  nix-flake-check: any of: \.nix$
  nix-syntax-check: any of: \.nix$
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: ^(\.opencode/|gritql-patterns/|nvim/lazy-lock\.json$|\.claude/settings\.json$|state/last_sync\.json$|tsconfig/tsconfig\.strict\.json$|tsconfig/tsconfig\.monorepo\.json$)
  validate-linting-config: any of: ^(biome.*\.json|tsconfig.*\.json|\.pre-commit-config\.yaml)$
  kube-linter: any of: ^(k8s|deploy|charts)/.*\.ya?ml$
  hadolint: any of: (Dockerfile|\.dockerfile)$
  tflint: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
