Repository samuelho-dev/dev-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, nix-flake-check, nix-syntax-check, biome-check, validate-linting-config, kube-linter, hadolint, tflint, actionlint

Path conditions:
  nix-fmt: any of: \.nix$
  nix-flake-check: any of: \.nix$
  nix-syntax-check: any of: \.nix$
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: ^(\.opencode/|gritql-patterns/|nvim/lazy-lock\.json$|\.claude/settings\.json$|state/last_sync\.json$|tsconfig/tsconfig\.strict\.json$|tsconfig/tsconfig\.monorepo\.json$)
  validate-linting-config: any of: ^(biome.*\.json|tsconfig.*\.json|\.pre-commit-config\.yaml)$
  kube-linter: any of: ^(k8s|deploy|charts)/.*\.ya?ml$
  hadolint: any of: (Dockerfile|\.dockerfile)$
  tflint: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$

feat(nvim): run biome check --fix on save for auto-fixing lint errors
  nvim/lua/plugins/lsp.lua
Due: none

refactor: clean up work profile and fix treesitter for v1.0
  CLAUDE.md
  flake.nix
  nvim/lazy-lock.json
  nvim/lua/plugins/treesitter.lua
  work.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(nvim): update biome root_dir for nvim 0.11+ vim.lsp.config API
  nvim/lua/plugins/lsp.lua
Due: none

work flake
  pkgs/default.nix
  work-user.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

update nil packages for zed
  pkgs/default.nix
  work.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

chore: update flake.lock (nixpkgs, home-manager)
  flake.lock
Due: none

feat(claude-code): add `cc` alias for --dangerously-skip-permissions
  modules/home-manager/programs/claude-code.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

feat(runtimes): bump nodejs_20 -> nodejs_22
  flake.nix
  modules/home-manager/programs/neovim.nix
  modules/home-manager/programs/npm.nix
  pkgs/default.nix
  templates/default/flake.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(home-manager): exclude runtimes from user-level install
  modules/home-manager/default.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

refactor: tech-debt remediation — truth-up lint enforcement, DRY profiles, dead code excision
  CLAUDE.md
  devpod-home.nix
  docs/LINTING_POLICY.md
  docs/nix/10-biome-integration.md
  flake.lock
  home.nix
  modules/home-manager/CLAUDE.md
  modules/home-manager/default.nix
  modules/home-manager/profiles/base.nix
  modules/home-manager/programs/CLAUDE.md
  modules/home-manager/programs/biome.nix
  modules/home-manager/programs/gritql.nix
  modules/home-manager/programs/neovim.nix
  modules/home-manager/programs/npm.nix
  scripts/install.sh
  scripts/validate-linting-config.sh
  work.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(nvim): migrate nvim-treesitter to main branch; bump deps; clear HM deprecations
  flake.lock
  modules/home-manager/programs/neovim.nix
  modules/home-manager/programs/ssh.nix
  nvim/CLAUDE.md
  nvim/lazy-lock.json
  nvim/lua/plugins/treesitter.lua
  pkgs/default.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

chore(pkgs): bump node 22->24, remove unused grit CLI
  .grit/.gitignore
  .grit/grit.yaml.bak
  .grit/patterns
  .pre-commit-config.yaml
  CLAUDE.md
  flake.nix
  pkgs/CLAUDE.md
  pkgs/default.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check, validate-linting-config

chore: wire nixd LSP, prune unused nil, bump lint tooling
  .pre-commit-config.yaml
  CLAUDE.md
  biome.json
  modules/home-manager/programs/neovim.nix
  nvim/lua/plugins/lsp.lua
  pkgs/CLAUDE.md
  pkgs/default.nix
  scripts/validate-linting-config.sh
  zsh/.p10k-ascii.zsh
Due: nix-fmt, nix-flake-check, nix-syntax-check, biome-check, validate-linting-config

fix(tmux): repair dead catppuccin v2 theme, unify devpod scripts, purge TPM docs
  CLAUDE.md
  README.md
  docs/CLAUDE.md
  docs/INSTALLATION.md
  docs/KEYBINDINGS_TMUX.md
  docs/nix/00-quickstart.md
  docs/nix/01-concepts.md
  docs/nix/02-daily-usage.md
  modules/home-manager/CLAUDE.md
  modules/home-manager/README.md
  modules/home-manager/programs/CLAUDE.md
  modules/home-manager/programs/tmux.nix
  tmux/CLAUDE.md
  tmux/README.md
  tmux/scripts/devpod-bootstrap.sh
  tmux/scripts/devpod-connect.sh
  tmux/tmux.conf
Due: nix-fmt, nix-flake-check, nix-syntax-check

docs: condense root CLAUDE.md AI-GUARDRAILS to pointer
  CLAUDE.md
Due: none

fix(nix): stop pinning runtimes
  devpod-home.nix
  flake.nix
  modules/home-manager/default.nix
  modules/home-manager/profiles/base.nix
  modules/home-manager/programs/claude-code.nix
  modules/home-manager/programs/git.nix
  modules/home-manager/programs/neovim.nix
  modules/home-manager/programs/npm.nix
  modules/home-manager/programs/opencode.nix
  pkgs/default.nix
  templates/default/flake.nix
  work.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

feat(devpod): rename home user coder -> admin (uid 1000), home /home/admin
  devpod-home.nix
  modules/home-manager/programs/ssh.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

feat(pkgs): add node 24 + pnpm + bun runtimes to all
  pkgs/default.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(hm): writable nvim lockfile + zsh-autosuggestions as OMZ custom plugin
  modules/home-manager/programs/zsh.nix
  nvim/init.lua
Due: nix-fmt, nix-flake-check, nix-syntax-check

feat(pkgs): bun 1.3.14 override + omp CLI, bump inputs to latest
  devpod-home.nix
  flake.lock
  modules/home-manager/default.nix
  modules/home-manager/profiles/base.nix
  modules/home-manager/programs/omp.nix
  pkgs/default.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

update sops
  modules/home-manager/services/sops-env.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

feat(runtimes): nodejs_24 -> nodejs_26 (26.4.0, latest stable)
  pkgs/default.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

feat(omp): add home-manager setup
  modules/home-manager/programs/omp.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

fix(omp): enable autolearn by default
  modules/home-manager/programs/omp.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

feat(lib): add forEachSystem + mkDevShell for thin spoke flakes
  flake.nix
  renovate.json
  templates/default/flake.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check, biome-check

feat(mcp): centralize MCP server config across Claude, OMP, and Codex
  ai/mcp/apply-mcp.sh
  ai/mcp/servers.json
  home.nix
  modules/home-manager/default.nix
  modules/home-manager/programs/claude-code.nix
  modules/home-manager/programs/mcp.nix
  work.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check, biome-check

fix(mcp): use stable linear API key over OAuth for linear-server
  ai/mcp/servers.json
Due: biome-check

feat(skills): sync mattpocock skills to upstream 391a270
  ai/skills/ask-matt/SKILL.md
  ai/skills/handoff/SKILL.md
  ai/skills/implement/SKILL.md
  ai/skills/prototype/LOGIC.md
  ai/skills/prototype/SKILL.md
  ai/skills/prototype/UI.md
  ai/skills/setup-matt-pocock-skills/SKILL.md
  ai/skills/setup-matt-pocock-skills/issue-tracker-local.md
  ai/skills/setup-ts-deep-modules/SKILL.md
  ai/skills/setup-ts-deep-modules/dependency-cruiser.config.cjs
  ai/skills/to-issues/SKILL.md
  ai/skills/to-spec/SKILL.md
  ai/skills/to-tickets/SKILL.md
  ai/skills/wayfinder/SKILL.md
Due: none

feat(nix): add infrastructure toolchain
  pkgs/README.md
  pkgs/default.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

feat(ai): target Effect v4
  ai/skills/effect-service-architect/SKILL.md
Due: none

fix(sops): skip placeholder API keys
  modules/home-manager/services/sops-env.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

docs(pkgs): add cloud package category
  pkgs/CLAUDE.md
Due: none

feat(mcp): add Vercel stdio MCP server + stdio env injection
  ai/mcp/apply-mcp.sh
  ai/mcp/servers.json
Due: biome-check

feat(omp): manage global plugins
  ai/omp/apply-plugins.sh
  ai/omp/plugins.txt
  docs/ARCHITECTURE.md
  modules/home-manager/programs/omp.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

feat(cli): add 1Password, Stripe, and Vercel
  pkgs/default.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check
