Repository samuelho-dev/dev-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-fmt, nix-flake-check, nix-syntax-check, biome-check, validate-linting-config, kube-linter, hadolint, tflint, actionlint

nix-fmt:
  name: Format Nix files
  entry: nix fmt
  language: system
  pass_filenames: true
  description: Check Nix file formatting with alejandra

nix-flake-check:
  name: Validate Nix flake
  entry: nix flake check --no-build
  language: system
  pass_filenames: false
  description: Validate flake.nix syntax and structure

nix-syntax-check:
  name: Home Manager Syntax Check
  entry: nix flake show --json
  language: system
  pass_filenames: false
  description: Validate Home Manager configuration syntax

biome-check:
  name: Biome format and lint
  entry: biome check --write
  language: system
  pass_filenames: true
  description: Format and lint JavaScript/TypeScript/JSON with Biome

validate-linting-config:
  name: Validate linting config changes
  entry: bash scripts/validate-linting-config.sh
  language: system
  pass_filenames: false
  description: Prevent rule weakening and enforce linting policy

kube-linter:
  name: Lint Kubernetes manifests
  entry: kube-linter lint --config iac-linting/.kube-linter.yaml
  language: system
  pass_filenames: true
  description: Validate Kubernetes manifests with kube-linter

hadolint:
  name: Lint Dockerfiles
  entry: hadolint --config iac-linting/.hadolint.yaml
  language: system
  pass_filenames: true
  description: Lint Dockerfiles with Hadolint

tflint:
  name: Lint Terraform files
  entry: tflint --config iac-linting/.tflint.hcl
  language: system
  pass_filenames: false
  description: Lint Terraform configuration with TFLint

actionlint:
  name: Lint GitHub Actions
  entry: actionlint
  language: system
  pass_filenames: true
  description: Lint GitHub Actions workflows with actionlint

chore: sync secrets from 1Password [skip ci]
  secrets/default.yaml
Due: none

feat: add gritql-linter-effect-nx skill for stack-aware linting
  .factory/commands
  .factory/droids
  .factory/hooks
  .factory/skills
  .gitignore
  .grit/grit.yaml
  .opencode/bun.lock
  .opencode/command
  .opencode/command/create-command.md
  .opencode/command/create-documentation.md
  .opencode/command/create-execution.md
  .opencode/command/create-plugin.md
  .opencode/command/create-tool.md
  .opencode/command/debug.md
  .opencode/command/generate-tests.md
  .opencode/command/refactor.md
  .opencode/command/refine-commands.md
  .opencode/command/refineagents.md
  .opencode/command/security-hardening.md
  .opencode/command/start-context.md
  .opencode/command/test-auto-sync.md
  .opencode/command/update-documentation.md
  .opencode/command/validate-library.md
  .opencode/command/validate-plan.md
  .opencode/package.json
  .zed
  REFACTORING_PLAN.md
  ai/skills/gritql-linter-effect-nx/SKILL.md
  zed/CLAUDE.md
  zed/keymap.json
  zed/settings.json
Due: biome-check

feat: implement advanced Factory Droid skills
  AGENTS.md
  ai/skills/effect-service-architect/SKILL.md
  ai/skills/structural-refactor/SKILL.md
  ai/skills/type-safety-enforcer/SKILL.md
  flake.nix
Due: nix-fmt, nix-flake-check, nix-syntax-check

feat: integrate Factory Droid into dev-config
  .factory/settings.json
  .gitignore
  CLAUDE.md
  biome.json
  flake.nix
  home.nix
  modules/home-manager/default.nix
  modules/home-manager/programs/factory-droid.nix
  templates/default/.gitignore
Due: nix-fmt, nix-flake-check, nix-syntax-check, biome-check, validate-linting-config

claude: fix hook matcher schema
  .claude/settings.json
Due: none

chore: remove OpenCode references and fix Nix module issues
  .claude/commands/update-documentation.md
  .claude/settings.json
  .factory/commands/update-documentation.md
  .pre-commit-config.yaml
  AGENTS.md
  ai/AGENTS-CLAUDE.md
  ai/commands/update-documentation.md
  biome/.biomeignore
  docs/INDEX.md
  docs/nix/01-concepts.md
  docs/nix/02-daily-usage.md
  docs/nix/03-troubleshooting.md
  docs/nix/06-advanced.md
  docs/nix/10-npm-publishing.md
  modules/home-manager/programs/python.nix
  pkgs/default.nix
  pkgs/sync-ai-config/default.nix
  templates/default/.gitignore
Due: nix-fmt, nix-flake-check, nix-syntax-check, validate-linting-config

Path conditions:
  nix-fmt: any of: \.nix$
  nix-flake-check: any of: \.nix$
  nix-syntax-check: any of: \.nix$
  biome-check: any of: \.(js|jsx|ts|tsx|json|jsonc)$, but not: ^(\.opencode/|gritql-patterns/|nvim/lazy-lock\.json$|\.claude/settings\.json$|state/last_sync\.json$|tsconfig/tsconfig\.strict\.json$|tsconfig/tsconfig\.monorepo\.json$)
  validate-linting-config: any of: ^(biome.*\.json|tsconfig.*\.json|\.pre-commit-config\.yaml)$
  kube-linter: any of: ^(k8s|deploy|charts)/.*\.ya?ml$
  hadolint: any of: (Dockerfile|\.dockerfile)$
  tflint: any of: \.tf$
  actionlint: any of: ^\.github/workflows/.*\.ya?ml$
